/**
 * Style helper for module's features.
 */

.panels-ipe-linkbar li.adaptative-settings span {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-image: url("../images/adaptative-panes-icon.png");
}

#custom-adaptative-panels-pane-settings-form fieldset .fieldset-legend i {
  float: right;
  margin-right: 10px;
}
