/*
 *------------------------------------------------------------------------------
 * Grid Builder
 *------------------------------------------------------------------------------
 * Use this file as a helper to build the grid system for your site, if you
 * need to modify the defaults.
 */


// The names and media queries here must match the ones registered in the
// breakpoints module. If you happen to create custom breakpoints in your
// project, fell free to copy this file to your theme, modify accordangly
// and compile for you responsive grid system.

$breakpoints: (
  "tiny":         "screen and (max-width: 479px)",
  "extra-small":  "screen and (min-width: 480px) and (max-width: 767px)",
  "small":        "screen and (min-width: 768px) and (max-width: 991px)",
  "medium":       "screen and (min-width: 992px) and (max-width: 1199px)",
  "large":        "screen and (min-width: 1200px)"
);

$columns: 12;
$gutter: 15px;
$vertical-margin: 10px;


// You probably shouldn't change the code below.

.panel-display {
  margin-left: $gutter * -1;
  margin-right: $gutter * -1;
}

.panel-pane {
  position: relative;
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 100%;
  padding-left: $gutter;
  padding-right: $gutter;
  margin-bottom: $vertical-margin;
}

@each $breakpoint, $media in $breakpoints {
  @media #{$media} {
    @for $i from 1 through $columns {
      .#{$breakpoint}-#{$i} {
        width: #{$i / $columns * 100 + "%"};
      }
    }
    @for $i from $columns * -1 through $columns {
      .#{$breakpoint}-left-#{$i} {
        margin-left: #{$i / $columns * 100 + "%"};
      }
      .#{$breakpoint}-right-#{$i} {
        margin-right: #{$i / $columns * 100 + "%"};
      }
    }
    .#{$breakpoint}-bleed {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
